Try to find correlation between district financing and district graduation rate

Caution: the code below is just schema and haven't been tested on real dataframe!

In [1]:
import pandas as pd
import numpy as np

In [2]:
#oped the data frame ()
df= pd.read_csv("Sources/All_data.csv")
df

,Year,CDS_CODE,ETHNIC,Function,GR_12,ENR_TOTAL,GRADS,UC_GRADS,Amount
0,1213,1100170000000,1,All Other General Administration ...,1,16,2,1,4004.58
1,1213,1100170000000,1,Ancillary Services ...,1,16,2,1,706.88
2,1213,1100170000000,1,Attendance and Social Work Services ...,1,16,2,1,688.57
3,1213,1100170000000,1,Board ...,1,16,2,1,3207.33
4,1213,1100170000000,1,Centralized Data Processing ...,1,16,2,1,181658.49
...,...,...,...,...,...,...,...,...,...
65340,1617,7617960000000,7,Special Education: Separate Classes ...,398,1916,6,0,9350459.54
65341,1617,7617960000000,7,Special Education: Supplemental Aids & Service...,199,958,3,0,787136.45
65342,1617,7617960000000,7,Speech Pathology and Audiology Services ...,199,958,3,0,43792.44
65343,1617,7617960000000,7,Superintendent ...,199,958,3,0,37.33
65344,1617,7617960000000,7,Warehousing and Distribution ...,199,958,3,0,588769.62

In [3]:
df.Amount.min()

-159509.03999999998

In [4]:
#remove negative amounts

df = df.loc[df.Amount >=0]
df

,Year,CDS_CODE,ETHNIC,Function,GR_12,ENR_TOTAL,GRADS,UC_GRADS,Amount
0,1213,1100170000000,1,All Other General Administration ...,1,16,2,1,4004.58
1,1213,1100170000000,1,Ancillary Services ...,1,16,2,1,706.88
2,1213,1100170000000,1,Attendance and Social Work Services ...,1,16,2,1,688.57
3,1213,1100170000000,1,Board ...,1,16,2,1,3207.33
4,1213,1100170000000,1,Centralized Data Processing ...,1,16,2,1,181658.49
...,...,...,...,...,...,...,...,...,...
65340,1617,7617960000000,7,Special Education: Separate Classes ...,398,1916,6,0,9350459.54
65341,1617,7617960000000,7,Special Education: Supplemental Aids & Service...,199,958,3,0,787136.45
65342,1617,7617960000000,7,Speech Pathology and Audiology Services ...,199,958,3,0,43792.44
65343,1617,7617960000000,7,Superintendent ...,199,958,3,0,37.33
65344,1617,7617960000000,7,Warehousing and Distribution ...,199,958,3,0,588769.62

In [5]:
#Remove last seven digit that show the school
df['CDS_CODE'] = df['CDS_CODE'].astype(str).str[:-7].astype(np.int64)
df

/Users/dbeliankou/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Year,CDS_CODE,ETHNIC,Function,GR_12,ENR_TOTAL,GRADS,UC_GRADS,Amount
0,1213,110017,1,All Other General Administration ...,1,16,2,1,4004.58
1,1213,110017,1,Ancillary Services ...,1,16,2,1,706.88
2,1213,110017,1,Attendance and Social Work Services ...,1,16,2,1,688.57
3,1213,110017,1,Board ...,1,16,2,1,3207.33
4,1213,110017,1,Centralized Data Processing ...,1,16,2,1,181658.49
...,...,...,...,...,...,...,...,...,...
65340,1617,761796,7,Special Education: Separate Classes ...,398,1916,6,0,9350459.54
65341,1617,761796,7,Special Education: Supplemental Aids & Service...,199,958,3,0,787136.45
65342,1617,761796,7,Speech Pathology and Audiology Services ...,199,958,3,0,43792.44
65343,1617,761796,7,Superintendent ...,199,958,3,0,37.33
65344,1617,761796,7,Warehousing and Distribution ...,199,958,3,0,588769.62

In [6]:
#Drop Function variable
df = df.drop(columns=['Function'])
df

       Year  CDS_CODE  ETHNIC  GR_12  ENR_TOTAL  GRADS  UC_GRADS      Amount
0      1213    110017       1      1         16      2         1     4004.58
1      1213    110017       1      1         16      2         1      706.88
2      1213    110017       1      1         16      2         1      688.57
3      1213    110017       1      1         16      2         1     3207.33
4      1213    110017       1      1         16      2         1   181658.49
...     ...       ...     ...    ...        ...    ...       ...         ...
65340  1617    761796       7    398       1916      6         0  9350459.54
65341  1617    761796       7    199        958      3         0   787136.45
65342  1617    761796       7    199        958      3         0    43792.44
65343  1617    761796       7    199        958      3         0       37.33
65344  1617    761796       7    199        958      3         0   588769.62

[64076 rows x 8 columns]

In [7]:
#Group data by district
df =df.groupby(["CDS_CODE", "Year"]).sum()
df.head()

               ETHNIC  GR_12  ENR_TOTAL  GRADS  UC_GRADS        Amount
CDS_CODE Year
110017   1213     888   8384      52928   7072      2592  5.874985e+07
         1314     925   8436     112556   9234      3686  7.797935e+07
         1415     925  13101      94710  10989      4257  4.017855e+07
         1516     888   8384      52928   7072      2592  5.874985e+07
161119   1213     629  19688     134412  17388      9453  1.469176e+08

In [8]:
#Reset index
df = df.reset_index()
df

     CDS_CODE  Year  ETHNIC  GR_12  ENR_TOTAL  GRADS  UC_GRADS        Amount
0      110017  1213     888   8384      52928   7072      2592  5.874985e+07
1      110017  1314     925   8436     112556   9234      3686  7.797935e+07
2      110017  1415     925  13101      94710  10989      4257  4.017855e+07
3      110017  1516     888   8384      52928   7072      2592  5.874985e+07
4      161119  1213     629  19688     134412  17388      9453  1.469176e+08
..        ...   ...     ...    ...        ...    ...       ...           ...
415   5673940  1516     680  21318     224128  19108     10608  7.666633e+07
416   5772710  1213     952  36608     525252  33176     12740  1.682286e+08
417   5772710  1314    1221  44892     577738  39208     17226  2.036837e+08
418   5772710  1415    1224  42761     610366  37637     16348  1.483404e+08
419   5772710  1516     952  36608     525252  33176     12740  1.682286e+08

[420 rows x 8 columns]

In [9]:
#Calculate Graduation rate
df['GR_RATE'] = df.UC_GRADS/df.GR_12
df

,CDS_CODE,Year,ETHNIC,GR_12,ENR_TOTAL,GRADS,UC_GRADS,Amount,GR_RATE
0,110017,1213,888,8384,52928,7072,2592,5.874985e+07,0.309160
1,110017,1314,925,8436,112556,9234,3686,7.797935e+07,0.436937
2,110017,1415,925,13101,94710,10989,4257,4.017855e+07,0.324937
3,110017,1516,888,8384,52928,7072,2592,5.874985e+07,0.309160
4,161119,1213,629,19688,134412,17388,9453,1.469176e+08,0.480140
...,...,...,...,...,...,...,...,...,...
415,5673940,1516,680,21318,224128,19108,10608,7.666633e+07,0.497608
416,5772710,1213,952,36608,525252,33176,12740,1.682286e+08,0.348011
417,5772710,1314,1221,44892,577738,39208,17226,2.036837e+08,0.383721
418,5772710,1415,1224,42761,610366,37637,16348,1.483404e+08,0.382311
419,5772710,1516,952,36608,525252,33176,12740,1.682286e+08,0.348011

In [10]:
financing = df["Amount"]
grad_rate = df["GR_RATE"]
correlation = financing.corr(grad_rate)
correlation

0.2964927645963934